<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>Archive</title>

  <link rel='stylesheet' href='/css/archive.css'>
</head>
<body>
  <main>
    <div id='content'>{{~> page}}</div>
  </main>
</body>
</html>
